
$color-bg-sidebar: #272B30;
$color-font-sidebar: #C6C7C9; 

//
// Color system
//


$gray-100: #ebebeb !default;

// Body

$b-body-bg: #2b3e50 !default;
$b-body-color: #ebebeb !default;

//card
$b-card-bg:#4e5d6c !default;

//button
$b-button-bg: #C44536 !default;
$b-button-color: #ebebeb !default;
