header{
  //logo de la nav
  nav{
    a{
      img{
        width: 60px;
      }
    }
  }
}

.block-nav{
  display: flex;
  flex-direction: row;
  width: 100%;

  .list-link{
    display: flex;
    flex-direction: row;
    width: 40%;
  }




  .navbar-block-form{
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: row;

    form{
      display: flex;
      flex-direction: row;
      width: 500px;

      input{
        display: flex;
        width: 60.00%;
      }
      button{
        display: flex;
      }
    }
  }


}
