<div class="row">
    <div class="col-8">
    {# resultat pour les livres #}

    </div>
    <div class="col-4">
        <div class="row">
            {# resultat pour les auteurs #}
            <div class="col-12">

            </div>
            
        </div>
    </div>
</div>