{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row my-2 py-2">
        <div class="col-12">
            <h1>Bienvenue sur <em>Bibliothèque</em></h1>
        </div>
        <div class="col-12">
            
        </div>
    </div>
    <div class="row my-2 py-2">
        <div class="col-12">
            <h2>Les derniers ajouts populaires</h2>
        </div>
        <div class="col-12">
            {% include "main/_popularityBook.html.twig" %}
        </div>
    </div>
    <div class="row my-2 py-2">
        <div class="col-12">
            <h2>Les dernières actualités littéraire</h2>
        </div>
        <div class="col-12">
            {% include "main/_actu.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{asset('script/actu.js')}}"></script>
    <script src="{{asset('script/navSearch.js')}}"></script>
{% endblock %}
