
{% set queryParams = app.request.query.all %} {# on recupère les paramètres en url #}
{% set keywords = (queryParams.keywords is defined)? queryParams.keywords : '' %}


<form id="filters" method="POST" action="">
    <div class="form-search">
        <input class="input-search" type="text" name="keywords" id="keywords" placeholder="Votre recherche" value="{{keywords}}">
        <select id="filterField" name="filterField" class="select-search" >
            <option value="intitle" selected>Titre de l'ouvrage</option>
            <option value="inauthor">Auteur</option>
            <option value="isbn">ISBN</option>
        </select>
    </div>
    <div class="form-search">
        <div class="check-search">
            <label for="free">Ouvrage gratuit uniquement</label>
            <input type="checkbox" name="free" id="free">
        </div>
    </div>
</form>