
{% set queryParams = app.request.query.all %} {# on recupère les paramètres en url #}
{% set keywords = (queryParams.keywords is defined)? queryParams.keywords : '' %}


<form id="filters" method="POST" action="">
    <div class="form-group">
        <label for="keywords">Mot-clés</label>
        <input class="form-control" type="text" name="keywords" id="keywords" value="{{keywords}}">
    </div>
    <div class="form-group">
        <label for="filterField">Recherche par</label>
        <select id="filterField" name="filterField" class="custom-select" >
            <option value="intitle" selected>Titre de l'ouvrage</option>
            <option value="inauthor">Auteur</option>
            <option value="isbn">ISBN</option>
        </select>
    </div>
    <div class="form-group">
        <div class="input-group-text">
            <input type="checkbox" name="free" id="free">
        </div>
    </div>
</form>