{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                {% include "book/_form.html.twig" %}
            </div>
        </div>
    </div>
    <div id="content">
        {% include "book/_content.html.twig" %}
    </div>
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{asset('script/searchBook.js')}}"></script>
{% endblock %}
