            <nav class="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Mes livres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('add_book_biblio')}}" title="ajouter un livre">Ajouter</a>
                        </li>
                    </ul>
                </div>
            </nav>