* {
    box-sizing: border-box;
}

body{
    background-color: $b-body-bg;
    color: $b-body-color;
    font-family: 'Ubuntu', sans-serif;
}

.picture{
    margin:0;
    padding: 0;
}

.button-primary{
    background-color: $b-button-bg;
    color: $b-button-color;
}

.carousel-indicators{
    position: absolute;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

//boutton sur les card
.add-book, .remove-book, .show-book{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:5px 10px;
    .icon-button{
        display: flex;
        width: 33.33%;
        justify-content: center;
        align-items: center;
    }

    .text-button{
        display: flex;
        width: 66.66%;
        justify-content: center;
        align-items: center;
    }
}