<a
  id="add-action-{{ id }}"
  js-link-add
  class="btn button-primary add-book"
  book-id="{{ id }}"
>
  <i class="icon-button fas fa-plus fa-2x"></i>
  <span class="js-status text-button">Ajouter à ma biblio</span>
</a>

