
<a id="remove-action" js-link-remove class="btn button-primary remove-book" book-id="{{ id }}">
    <i class="icon-button fas fa-minus-square fa-2x"></i>
    <span class="js-status text-button">Supprimer de ma Biblio</span>
</a>